
   .UnderConstruction{
    position: fixed;
    bottom: 18%;
    width: 30%;
    z-index: 1;
    color: black;
    border-color: rgb(228, 143, 157);;
    background-color: rgb(228, 143, 157);
   }


.thumbnail {
    
}

.thumbnail:hover {
    opacity:0.5;
}

* {
    box-sizing: border-box;
   }
   *:before,
   *:after {
    box-sizing: border-box;
   }
   html,
   body {
    height: 100%;
    position: relative;
   }
   .main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
   }
   footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    background-color: rgb(51, 51, 51);
    color: white;
    z-index: 0;
    padding: 10px;
   }


   #navbar-drop-image {
    display: none;
}
   #navbar-item:hover>#navbar-drop-image {
    display: block;

   }

   /* HOME PAGE ANIMATION */
   @keyframes example {
    to {fill: white;}
    from {fill: rgb(197, 197, 197);}
  }
  
#SN {
    position: auto;
    width: 4%;
    width: 5vw;
    height: 5vw;
    background-color: rgb(197, 9, 9);
    fill: red;
  animation-name: example;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-play-state: paused;
}
#SN:hover {
    animation-play-state: running;

}

#SN:focus {
    background-color: green;
}

#AR {
    width: 40%;
   
}
/* Types */

body {
    font-family: avenir, sans-serif;
    font-style: normal;
    font-weight: 400;
}
.bold-text {
    font-family: Avenir Black, sans-serif;
    font-style: bold;
    font-weight: 900;
}

.heading {
    text-align: center;
    margin: 3%;
    margin-top:6%;
}



/* MENU NAVBAR */
.menu-item {

    /* LOOKS */
    text-align: center;
    /* border-style: solid; */
    /* background-color: white; */
    /* border-width: 2px; */
    border-style: none none none none;
    border-color: black;

    padding: 0.3%;
    margin: 2%;
    margin-top:0.5%;
    margin-bottom:0.5%;
    vertical-align: middle;




    font-family: Avenir Black, sans-serif;
    font-style: bold;
    font-weight: 900;
    font-size: 16px;
    color: rgb(48, 28, 16);
 

    /* ANIMATION */
    transition: .5s;
    transform: translate3d(0, 0, 0);
    transition-delay: calc(var(--char-index) * 0.02s);
}

.menu-item:hover {
    color: black;
    /* background-color: black; */
/* 
    border-style: none none solid none;
    border-width: 2px; */
    opacity: 0.4;

}

.menu-item:active {
    color: red;
}

.navbar {
  position: fixed;
  top: 0;
  vertical-align: middle;
  background-color: rgb(245, 240, 237);
  width: 110%;
  /* max-width: 100%; */
  z-index:1;

}

#navbar-logo{
    height: auto;
    vertical-align: middle;
    width: 20%;
}


.landing {
    vertical-align: middle;

}
.start-title {
    position: fixed;
    width: 100%;
    font-weight: 900;
    font-size: 140px;
    vertical-align: middle;
   
    margin-top: 10%;
    cursor: default;
    pointer-events: none;
    
    text-align: center;

}


/* SECTION SCROLL  */
/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  } */
  
  nav {
    background-color: #000;
    display: block;
    position: fixed;
    padding: 1em 0;
    text-align: center;
    width: auto;
    margin-top: 10%;
  }
  
  nav a {
    color: #fff;
    margin: 0 1em;
    text-decoration: none;
  }
  
  .scrolling-box {
    background-color: #fdfdfd;
    display: block;
    height: auto;
    /* overflow-y: scroll; */
    scroll-behavior: smooth;
    text-align: center;
    width: 90%;
    /* overflow-x: scroll; */

  }
  
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

/* ANIMATION LEFT */


#pot{
    bottom:15%;
    position:absolute;
    /* 
    animation:linear infinite alternate;
     */
    animation-name: run;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: linear;
    animation-play-state: paused;

}   
#pot:hover {
    animation-play-state: running;
}  

@keyframes run {
    0% { left: 0;}
    99%{ left : 100%;}
    100% { left: 0;}
    
}





.project-menu {
    text-align: center;
    width:100%;
    /* position: relative; */
}

.project-menu-item {
    margin: auto;
    background: black;
    color: white;
    margin-right: 1%;
    margin-top:5%;
    padding: 1%;
    /* padding-left: 2%;
    padding-right: 2%; */
    text-align: center;
    width: 50%;
  

}





.parallax {
    background-image: url("https://images.unsplash.com/photo-1526376043067-5af36c35cd6c?ixlib=rb-1.2.1&auto=format&fit=crop&w=2539&q=80");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  

  .smiley-face {
   
      position: fixed;
      width: 100%;
      font-weight: 800;
      font-size: 70px;
      vertical-align: middle;
     
      margin-top: 10%;
      cursor: default;
      pointer-events: none;
      
      text-align: center;
  
  }


  .project-grid {
    margin-top:6%;
    margin-bottom:16%;
    text-align:center;
    z-index: -2;
}
.portfolio-item {
    position: relative;
  text-align: center;
  color: white;
}

  .portfolio-image {
  
    width:380px;
    height:380px;
    z-index: -2;


    object-fit: cover !important;
  
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    margin:0%;


  }

  .portfolio-image:hover {
      opacity: 0.15;
  }

  .portfolio-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    pointer-events: none; 
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    margin:0%;
 
    opacity:0;
  
  }
  .portfolio-image:hover ~ .portfolio-text{
  
      
      opacity:1;
  }